:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #c8ead3;
}

.header {
  text-align: center;
  text-emphasis: bold;
  margin: 5%;
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
}

ul {
  list-style: none;
}

.table {
  text-align: center;
  display: flex;
}
